/* About Default Styles
 * ---------------------
 * default.css is used to establish general rules, browser reset, or admin user interface styles.
 * Browser Reset
 * -------------
 * For a more complete reset, go to http://developer.yahoo.com/yui/reset/ */
/* line 8, ../sass/default.sass */
* {
  margin: 0;
  padding: 0;
}
/* Clear Floats Without Structural Markup
 * ---------------------------------------
 * http://www.positioniseverything.net/easyclearing.html */
/* line 16, ../sass/default.sass */
.clearfix {
  display: inline-block;
}
/* line 18, ../sass/default.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac \ */
/* line 26, ../sass/default.sass */
* html .clearfix {
  height: 1%;
}

/* line 29, ../sass/default.sass */
.clearfix {
  display: block;
}

/* End hide from IE-mac */
/* clear classes */
/* line 35, ../sass/default.sass */
.clearleft, .clearl, .cleft {
  clear: left;
}

/* line 38, ../sass/default.sass */
.clearright, .clearr, .cright {
  clear: right;
}

/* line 41, ../sass/default.sass */
.clear, .clearboth, .clearall {
  clear: both;
}

/* Float classes */
/* line 45, ../sass/default.sass */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

/* line 49, ../sass/default.sass */
.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

/* "Skip to Main Content" link
 * ---------------------------
 * This link useful for both visually impaired people and those with mobility impairments
 * who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/ */
/* line 59, ../sass/default.sass */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* line 66, ../sass/default.sass */
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* bug fix with views 2 edit links. */
/* line 72, ../sass/default.sass */
div.view div.views-admin-links {
  width: auto;
}

/* Rollover edit links for blocks. */
/* line 76, ../sass/default.sass */
div.block {
  position: relative;
}
/* line 78, ../sass/default.sass */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  /*let's get fancy! */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
/* line 94, ../sass/default.sass */
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 99, ../sass/default.sass */
div.block:hover .edit {
  display: block;
}

/* Wireframe styles. */
/* line 104, ../sass/default.sass */
.with-wireframes #header,
.with-wireframes #content-top,
.with-wireframes #content-top > *,
.with-wireframes #content-header,
.with-wireframes #content-header > *,
.with-wireframes #content-area,
.with-wireframes #content-area > *,
.with-wireframes #content-bottom,
.with-wireframes #content-bottom > *,
.with-wireframes #primary,
.with-wireframes #secondary,
.with-wireframes #sidebar-left-inner,
.with-wireframes #sidebar-right-inner,
.with-wireframes .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
/* line 120, ../sass/default.sass */
.with-wireframes .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
/* line 123, ../sass/default.sass */
.with-wireframes .block {
  margin-bottom: 3px;
}
/* line 125, ../sass/default.sass */
.with-wireframes #content-top,
.with-wireframes #content-header,
.with-wireframes #content-area,
.with-wireframes #content-bottom {
  margin: 0 3px 3px;
}
/* line 130, ../sass/default.sass */
.with-wireframes #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
/* line 135, ../sass/default.sass */
.with-wireframes.with-navigation #content,
.with-wireframes.with-navigation .sidebar {
  margin-top: 50px;
}
/* line 138, ../sass/default.sass */
.with-wireframes #navigation {
  height: 50px;
}
/*form css*/
#edit-field-profile-geolocation {display:none;}
#webform-configure-form input, #webform-emails-form input,  #webform-email-edit-form input {display:inline;}

/*Make beardfish.com tlamp specific.  DON'T COMMIT THIS LINE!!!!*/
body {background: url("../images/test.png") -12px 5px repeat-y; }
