/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* remove 'auto' and the width to switch to a fluid width */
/* line 15, ../sass/layout.sass */
#page {
  width: 960px;
  margin: 0 auto;
}

/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
/* line 20, ../sass/layout.sass */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

/* line 26, ../sass/layout.sass */
.sidebar {
  float: left;
}

/* line 29, ../sass/layout.sass */
#sidebar-second {
  float: right;
}

/* line 32, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
}

/* Layout Helpers */
/* line 37, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* Sidebars width
 * --------------
 * Changing the width of the sidebars is dead easy, just change the
 * values below corresponding to the sidebar you want to modify.
 * Make sure you keep negative values as negative values.
 * For example, if I want to increase the width of the left sidebar
 * to 300px, I would have to change each '190' to '300'. */
/* line 55, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-first .center {
  margin-left: 140px;
}

/* line 59, ../sass/layout.sass */
#sidebar-first {
  width: 150px;
  margin-right: -150px;
}

/* line 65, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px;
}

/* line 69, ../sass/layout.sass */
#sidebar-second {
  width: 200px;
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
/* line 76, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* remove 'auto' and the width to switch to a fluid width */
/* line 111, ../sass/layout.sass */
#page {
  width: 960px;
  margin: 0 auto;
}

/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
/* line 116, ../sass/layout.sass */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

/* line 122, ../sass/layout.sass */
.sidebar {
  float: left;
}

/* line 125, ../sass/layout.sass */
#sidebar-second {
  float: right;
}

/* line 128, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
}

/* Layout Helpers */
/* line 133, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* Sidebars width
 * --------------
 * Changing the width of the sidebars is dead easy, just change the
 * values below corresponding to the sidebar you want to modify.
 * Make sure you keep negative values as negative values.
 * For example, if I want to increase the width of the left sidebar
 * to 300px, I would have to change each '190' to '300'. */
/* line 151, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-first .center {
  margin-left: 150px;
}

/* line 161, ../sass/layout.sass */
.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px;
}

/* line 165, ../sass/layout.sass */
#sidebar-second {
  width: 200px;
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
/* line 172, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* Navigation styles
 * -----------------
 * The navigation is loaded after the content, so we need to make space
 * for it, equal to its height, so if you change the height of the navigation,
 * remember to adapt the margin top of the content and sidebars. */
/* line 180, ../sass/layout.sass */
#navigation {
  float: left;
  margin-left: 0;
  padding: 0;
}

/* line 190, ../sass/layout.sass */
.with-navigation #content,
.with-navigation .sidebar {
}

#floater {
  width: 70px;
  position: absolute;
  top: 115px;
  right: 0;
}
.not-logged-in #floater {
  top:86px;
}

.item-list ul li { list-style: none; margin: 2px 0; padding: 3px 0; border-bottom: 1px dotted #EEE; }
