/* first for IE 4-8 */
@font-face { font-family: DINWeb; src: url(../fonts/DINWeb.eot); }

/*then for woff-capable browsers */
@font-face { font-family: DINWeb; src: url(../fonts/DINWeb.woff) format('woff'); }

html, body { height: 100% }
#page { }
*:focus { outline-width: 0 }
body, #page, input, textarea { font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 12px; color: #333; }
h1, h2, h3, h4, h5, h6 { font-family:DINWeb, Verdana, sans-serif; font-weight: normal; }
h1, h1 a { font-size: 24px; color: #000; }
h1.title {padding:7px;border-bottom:1px  solid #ccc;}
h2, h2 a { font-size: 18px; margin-bottom: 10px; color: #2b2b2b; padding-bottom: 3px; border-bottom: 1px solid #ccc }
h3, h3 a { font-size: 16px; color: #222e39; font-weight: bold; margin-bottom: 6px }
h4, h4 a { font-size: 13px; color: #36c; }
h5, h5 a { font-size: 12px; color: #1cba0f; }
h6, h6 a { font-size: 12px; color: #222e39; }
a { font-size: 11px; color: #36c; text-decoration: none; }
a:hover { text-decoration: none; cursor: pointer; color: #1f3d7a }
p {margin:0 0 .5em;}
ul {}
ul li {margin-left:1.25em;}
ul.menu {}
ul.menu li {margin-left:1.1em;}
form input[type="text"], form input[type="select"], form input[type="password"] {padding:3px;font-size:13px;}
.form-item, .form-actions {margin-top:0px;margin-bottom:7px;}

.resizable-textarea .grippie { display: none; }
html.js input.form-autocomplete {background-position:100% 7px;}
.tabledrag-toggle-weight-wrapper a, .tabledrag-toggle-weight-wrapper a:hover {color:#e4e4e4;cursor:pointer;}

/* Social Widget */
  .block-beardfish-social {position: relative }
  #social-widget-title { background: #232d38; color: #eee; position: absolute; top: -18px; left: -4px; border-radius: 0 0 0 4px; width: 70px; text-align: center; padding: 2px 5px; z-index: 99; cursor: pointer; box-shadow: 0 1px 2px #1b1b1b }
  .social-widget { margin: 5px 0 }
  .social-widget-wrap {  padding: 0 5px 10px 5px; background: #f7f7f7; border: 1px solid #232d38; border-top: 2px solid #f2f2f2; border-right: 0; border-radius: 0 0 0 4px; box-shadow: 0 2px 3px #666; position: relative; z-index: 98 }
  .social-widget-wrap #roll-up-icon { position: absolute; bottom: -10px; left: 25px; cursor: pointer }
/*= Alerts */
  .html .messages {  background:#f2f2f2; border-color: #d9d9d9; color: #57576d; background-image:none; border: 1px solid; border-left-width: 5px; margin: 6px 0px; padding: 6px 12px; }
  .html .status { background:#f2f2f2; border-color: #d9d9d9; color: #57576d;  background-image:none; border: 1px solid; border-left-width: 5px; margin: 6px 0px; padding: 6px 12px; }
  .html .success { background:#e3ebc6; border-color: #c2d288; color: #7a8c38 }
  .html .warning { background:#fcf7d9; border-color: #f5dc7d; color: #836711 }
  .html .error { background:#f5d1d3; border-color: #f4afb2; color: #b55155 }
  .html .info { background:#d8ecf5; border-color: #9ac9df; color: #477a92 }

  .html .messages ul, 
  .html .status ul { margin: 0 }
  .status ul li,
  .messages ul li{ list-style: none; margin: 0; border-bottom: 1px dotted; padding-bottom: 2px; margin-bottom: 2px; }
  .status ul li:before,
  .messages ul li:before { content: "\00bb  " }

  .status ul li { border-color: #e1e1e1}
  .success ul li { border-color: #d7e2ad }
  .warning ul li { border-color: #F8EDAA }
  .error ul li { border-color: #efb5b8 }
  .info ul li { border-color: #bddfee } 

  .status ul li:last-child,
  .messages ul li:last-child { border: 0; margin-bottom: 0; padding-bottom: 0 }

.fine-text {font-style:italic;font-size:.8em;}

#page {}
#content #content-inner {padding:0px 10px;}

#header { height: 80px; background: transparent url(../images/header-bg.png) repeat-x scroll 0 0;color:#fff; }
#header #logo {float:left;margin:0px;padding:0px;}
#header-inner {width:950px;margin:auto;}
#header-region {float:right;position:relative;width:190px;}
#header-region a {color:#fff;}
#header .region-header { float: left; clear: none; margin-top: 28px;height:28px; }
#header .top-menu ul { margin: 0; padding: 0; }
#header .top-menu ul li {margin: 0; float: left; margin-right: 20px; position: relative; list-style: none;list-style-type:none; display:inline;}
#header .top-menu ul li a {text-decoration:none;font-family: DINWeb-Bold, Verdana, sans-serif; font-size: 12px; color: #e0e0e0; text-transform: uppercase;text-align: center; cursor: pointer;font-weight:bold;}
#header .top-menu .expanded ul { display: none; position: absolute; top: 18px; width: 150px; left: 0; z-index: 100; padding-top: 16px; background: transparent url(../images/arrow_up.png) no-repeat scroll 50% 7px;padding: 2px; background: #323c46; z-index: 100;}
#header .top-menu .expanded:hover ul {display:block;}
#header .top-menu .expanded ul li {margin-right:0px;}
#header .top-menu .expanded li:nth-child(odd) { background-color: #475059; }
#header .top-menu .expanded li:hover { background-color: #749acb;list-style-type:none; }
#header .top-menu .expanded li li {display:none;list-style-type:none;}
#header .top-menu .expanded ul li a { text-align:left;display: block; padding: 6px 15px; color: #fff; font-size: 11px; text-transform: none; width:114px;font-weight:normal;}
#header .top-menu .expanded ul li a:hover { text-decoration: none; }
#header .section {z-index:100;position:relative;}

#content #content-area {margin-top:10px;}

form, .widget { background-color: #e4e4e4; }
form > div, .widget > .inner { padding: 10px; }
form, .green-button, a.button { -moz-border-radius: 4px; border-radius: 4px; }
.green-button, a.button, form input[type="submit"], form input[type="reset"] { height: 30px; line-height: 30px; padding:0px 7px; cursor: pointer; border: none; background: transparent url(../images/button_bg.png) repeat-x scroll 0 0; color: #fff; text-transform: uppercase; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px 2px #888; -webkit-box-shadow 2px 2px 2px #888; box-shadow: 2px 2px 2px #888;margin:5px 7px 5px 0px;display:inline-block; }
.green-button:hover, form input[type="submit"]:hover, form input[type="reset"]:hover, a.button:hover { background-position: 0 -30px;color:#fff; }
form input, form textarea { border: 1px solid #fff; border-top: 1px solid #ccc;}
.ghost { color: #8c8b8b !important; }
.form-item label {}
.form-item .description, .text-format-wrapper .description {color:#243b4f;font-size:11px;padding:5px 0px;font-style:italic;}
span.country {display:none;}

/*Persistant Menu*/
#sidebar-first .block, #sidebar-second .block {margin:0px 0px 1em;}
#sidebar-first {margin-top:20px;}
.persistant {padding-bottom:10px;margin:3px 0px;}
.persistant .persistant-row { padding: 0 }
.persistant ul.menu li, 
.persistant .persistant-row {  list-style:none; margin-left:0px; border-bottom:1px dotted #ddd;}
.persistant ul.menu li {}
.persistant ul.menu li.active-trail {background-color:#f8f8ff;}
.persistant ul.menu li a {}
.persistant ul.menu ul li {background-color:none;border:none;}
.persistant ul.menu ul li a {font-size:11px;}
.region-sidebar-first ul li { list-style: none; }
.region-sidebar-second {margin-top:10px;margin-bottom:5px; }
.region-sidebar-second .section {padding:0px 15px;}
.more-stuff.persistant {padding-bottom:0px;margin-top:-20px;}


#footer { background-color:#fff;color:#000; border-top: 5px solid  #222e39;padding: 10px 0;margin-top:10px; }
#footer, #footer h2, #footer a { font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 11px; font-weight: normal;}
#footer-inner {width:950px;margin:auto;}
.footer-left {float:left;width:65%;}
.footer-left ul {margin: 0; padding: 0; }
.footer-left ul li { list-style: none;display:inline; }
.footer-left ul li a { display: inline; padding: 0 }
.footer-left ul li a.active { background: none }
.footer-right {float:right;padding-top:5px;text-align:right;}

dl.node-type-list dt a {font-size:16px;padding:8px;}
dl.node-type-list dd {padding:0px 8px 8px;font-style:italic;}

/*Views Specific*/
div.views-label {font-size:14px; border-bottom:1px solid #ccc;margin: 10px 0px 5px; color:#2b2b2b;}
.view ul.pager {margin:7px 0px;}
table.views-table, .views-view-grid {width:99%;}
table.views-table tr.even, table.views-table tr.odd {background-color:transparent;}
.view-filters {margin-bottom:10px;}
.link-views-row { margin: 5px 0 }
/*Fancier Login*/
#block-user-login label {font-weight:normal;}
#block-user-login form input[type="text"],
#block-user-login form input[type="password"] {width:145px; -moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
#block-user-login {margin: 0; position: absolute; z-index: 999;top:0px;margin-top:23px;}
#block-user-login .item-list {}
#block-user-login .item-list ul {list-style:none;margin:0px;}
#block-user-login .item-list ul li {margin:0px;}
#block-user-login .item-list a {}
#block-user-login .block-inner {color: #222;padding: 0;}
#block-user-login .content {}
#user-login-form {margin: 0;padding: 0;background-color:transparent;}
#toboggan-login-link {font-size:12px;font-family:DINWeb-Bold, Verdana, sans-serif;}
#toboggan-login {width:155px;margin-top:5px;padding: 5px 10px 1px;background: #CCC; -moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
#toboggan-login a {color:#36c;}

/*Office Hours*/
.oh-display {font-weight:bold;}
.oh-display-hours {font-weight:normal;padding-left:5px;font-size:11px;}

/*Custom Views*/
.view-user-images { border-top: 1px solid #ccc; padding-top: 10px }
.links-views { background-color: #ededed; padding: 2px 5px; font-size: 10px; text-transform: uppercase; margin: 5px; border: 0 solid #ccc; border-left-width: 3px; color: #666}
.float-right {float:right;padding-left:20px;}
.ui-accordion h3 {margin-top:20px;}
.views-field-field-profile-primaryimage .float-right{padding-top:30px;}
.ui-accordion .views-row {margin-bottom:5px;}
.ui-accordion .views-row .ui-accordion-header .field-content {font-weight:bold;font-size:12px;}
.views-exposed-form #edit-field-basic-businessname-value-wrapper {padding-left:44px;background:transparent url(../images/icons/or.gif) no-repeat left 20px;}

/*Framework Panel*/
.framework {}
.framework-middle .framework-column-framework-main, .framework-left .framework-region-framework-persistant_navigation {border-right:1px solid #ccc;}
.framework-middle .middle .inside .inside {border:none;}
.framework-row {}
.framework-region { position: relative }
.persistant-region-persistant-center { width: 150px; margin-left: -10px; }
.framework-region-inside { padding-right: 10px }

/*quicktabs nav style overrides*/
ul.quicktabs-tabs.quicktabs-style-navlist { background: #F1F1F1; border: 1px solid #E9E9E9; border-top: 0; border-radius: 6px 0 0 6px; margin-left: 0; padding: 0 0 5px; width: 35%; }
ul.quicktabs-tabs.quicktabs-style-navlist li  { display: block; padding: 0; margin: 0 -2px 0 4px; border-top: 1px solid #FEFEFE }
ul.quicktabs-tabs.quicktabs-style-navlist li a { background: none; display: block; height: auto; font: normal 12px Arial, Helvetica, Verdana; padding: 8px 3px; margin: 0; text-align: left; text-decoration: none; white-space: -moz-pre-wrap !important; white-space: pre-wrap; word-wrap: break-word; }
.quicktabs_main.quicktabs-style-navlist, 
ul.quicktabs-tabs.quicktabs-style-navlist li.active { border-color: #DDD; background-color: white; background-image: -ms-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%);background-image: -moz-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%); background-image: -o-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%);background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF)); background-image: -webkit-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%);background-image: linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%); background-image: -webkit-linear-gradient(top left, #f5f5f5 0%, #FFFFFF 100%) }
ul.quicktabs-tabs.quicktabs-style-navlist li.active a { color: #2B2B2B; font-weight: bold; background: none }
#quicktabs-container-view__my_coupons__block { background: #fff;width:60%; }
#quicktabs-container-view__my_coupons__block .quicktabs-tabpage {border:3px dashed #ccc;padding:10px; }
.views-field-field-coupon-description { margin-bottom: 6px}
.node-profile-form .horizontal-tabs ul.horizontal-tabs-list li, .node-profile-form .horizontal-tabs ul.horizontal-tabs-list li.selected {padding:10px 15px;}
.node-profile-form .horizontal-tabs ul.horizontal-tabs-list li.selected {background-color:#e4e4e4;}
.node-profile-form .horizontal-tabs ul.horizontal-tabs-list {background-color:#fff;}
.node-profile-form .horizontal-tabs ul.horizontal-tabs-list li {background-color:transparent;}
.node-profile-form .horizontal-tabs ul.horizontal-tabs-list li a {}
.node-profile-form .horizontal-tabs ul.horizontal-tabs-list li a:hover {background-color:transparent;}
.node-profile-form .horizontal-tabs-pane {background-color:#e4e4e4;}
.views-field-field-profile-additionalinfo {padding-top:5px;}
/*= Right Column */
.framework-column-inside-last .framework-row h2 { color: #595959; margin: 0; border: 0; font-size: 15px;padding-left:10px; }
.framework-column-inside-last .framework-row .pane-content { margin: 0 0 20px; background: #F9F9F9; padding: 10px; border-radius: 8px; color: #707070; } 

/*Public Business Profile*/
.website-link a { font-size: 13px; font-weight: 700 }
.link-inline { display: inline-block; width: 170px; position: absolute }
.link-inline.facebook-inline { left: 160px }
.link-inline.twitter-inline { left: 350px }
.link-inline.hours-inline { left: 10px }
.link-inline .facebook-icon { background: url(/sites/all/themes/datasphere/images/icons/social-icons.png) no-repeat; width: 16px; text-indent: -9999px; display: inline-block;}
.link-inline .twitter-icon { background: url(/sites/all/themes/datasphere/images/icons/social-icons.png) -17px 0 no-repeat; width: 16px; text-indent: -9999px; display: inline-block;}
.basic-region-basic-important_bottom-inside .pane-my-profile { border-top: 1px dotted #eee; padding-top: 6px; position: relative;border-bottom: 1px dotted #EEE; height: 24px;}

.node-type-basic-information .basic-region-basic-urgent___important-inside .emphasis {padding-bottom:0px; font-size: 13px; line-height: 16px;}
.node-type-basic-information .basic-region-basic-urgent___important-inside .field-label {font-weight:normal;}
.node-type-basic-information .basic-region-basic-urgent___important-inside .panel-separator {margin-bottom:5px;}
.node-type-basic-information .basic-region-basic-urgent___important-inside .field-name-field-basic-phone,
.node-type-basic-information .basic-region-basic-urgent___important-inside .field-name-field-basic-website a {font-weight:bold;font-size:13px;}
.video-player .view-content, .video-player .item-list {float:left;}
.video-player .item-list ul.pager {text-align:left;}
.video-player .item-list ul.pager li.pager-current {font-weight:normal;}
h1.title .titlecat {font-size:14px;color:#333;float:right;padding-top:10px;}
.pane-show-business-slogan h6 {padding:0px 10px;font-size:14px;font-style:italic;}
.business-logo-70 {border:1px solid #ccc;text-align:center;width:70px;height:70px;padding:10px;}
.business-logo-130 {border:1px solid #ccc;text-align:center;width:130px;height:130px;padding:5px;}
.coupon-slideshow h2 {font-size:13px;padding-right:45px;line-height:18px;}
.coupon-slideshow .views-slideshow-controls-top {position:absolute;top:0;right:0px;padding-right:20px;font-size:10px;}
.coupon-slideshow .coupon { border: 3px dashed #ccc; padding: 10px !important;}
.coupon-slideshow .view-coupon {text-align:right;}
.coupon-slideshow .view-coupon a {color:#fff;background-color:#333; padding: 0 5px 1px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px}
.coupon-slideshow .views-slideshow-controls-bottom {text-align:right;padding-right:15px;}
.coupon-slideshow .views-slideshow-controls-bottom span {padding-left:5px;}
.coupon-slideshow .views-slideshow-controls-text-pause {display:none;}
.coupon-tabbed h2 {font-size:13px;padding-right:45px;line-height:18px;}
.coupon-tabbed .coupon { border: 3px dashed #ccc; padding: 10px !important;}
.coupon-tabbed .view-coupon {text-align:right;}
.coupon-tabbed .view-coupon a {color:#fff;background-color:#333; padding: 0 5px 1px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px}
/*quicktabs nav style overrides*/
.coupon-tabbed ul.quicktabs-tabs.quicktabs-style-navlist { background: #F1F1F1; border: 1px solid #E9E9E9; border-top: 0; border-radius: 6px 0 0 6px; margin-left: 0; padding: 0 0 5px; width: 85px; }
.coupon-tabbed ul.quicktabs-tabs.quicktabs-style-navlist li  { display: block; padding: 0; margin: 0 -2px 0 4px; border-top: 1px solid #FEFEFE }
.coupon-tabbed ul.quicktabs-tabs.quicktabs-style-navlist li a { display: block; height: auto;font-size:10px; padding:6px; margin: 0; text-align: left; text-decoration: none; overflow:hidden;}
.coupon-tabbed .quicktabs_main.quicktabs-style-navlist,
.coupon-tabbed ul.quicktabs-tabs.quicktabs-style-navlist li.active { border-color: #DDD; background-color: white; background-image: -ms-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%);background-image: -moz-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%); background-image: -o-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%);background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF)); background-image: -webkit-linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%);background-image: linear-gradient(top left, #F1F1F1 0%, #FFFFFF 100%); background-image: -webkit-linear-gradient(top left, #f5f5f5 0%, #FFFFFF 100%) }
.coupon-tabbed ul.quicktabs-tabs.quicktabs-style-navlist li.active a { color: #2B2B2B; font-weight: bold; }
.coupon-tabbed .quicktabs_main.quicktabs-style-navlist { background: #fff;width:252px; }

.coupon-tabbed  .quicktabs-tabpage {border:3px dashed #ccc;padding:10px; }
.image-slideshow {position:relative;}
.image-slideshow .views-slideshow-controls-top {position:absolute;top:0;right:0px;padding-right:20px;font-size:10px;margin-top:-30px;}
.image-slideshow .slide {}
.image-slideshow .views-slideshow-controls-bottom {text-align:right;padding-right:15px;border-top:1px solid #ccc;}
.image-slideshow .views-slideshow-controls-bottom span {padding-left:5px;}
.pane-my-profile .link-views-row {margin:10px 0px;}
.pane-my-profile div.views-label {margin-top:15px;}

/* Coupon & Coupon Live Edit */
.edit-field-coupon-headline-und-0-value-live {margin-bottom:7px;font-size:22px;}
.node-coupon .coupon-inner {width:500px;position: relative;border:2px dashed #777;padding:7px 15px;margin:30px auto;background-color:#f7f7f7;}
.edit-field-coupon-description-und-0-value-live, 
.edit-field-coupon-legal-und-0-value-live { margin-bottom:7px; }
.node-coupon .coupon-expires {font-weight:bold;}
.edit-field-coupon-legal-und-0-value-live {color:#999;font-size:11px;margin-bottom:7px;}
.node-coupon .field-name-field-coupon-headline {margin-bottom:7px;font-size:22px;}
.node-coupon .field-name-field-coupon-legal,
.node-coupon .field-name-field-coupon-description {margin-bottom:7px;}
.node-coupon .field-name-field-coupon-legal  {color:#999;font-size:11px;margin-bottom:7px;}
.node-coupon .field-name-field-basic-businessname {font-weight:bold;}
.node-coupon .field-name-field-basic-logo {float:left;width:70px;height:70px;border:1px #ccc solid;text-align:center;padding:7px;margin-right:7px;}
.node-coupon .field-name-field-basic-primarylocation .addressfield-container-inline:after {display:inline;}
.node-coupon .field-name-field-basic-primarylocation .country {display:none;}
.node-coupon .field-name-field-basic-phone {float:left;}
.node-coupon .bottom-right {float:right;}
.node-coupon .coupon-expires {float:left;padding:5px;}
.node-coupon .node-basic-information .links {display:none;}
.node-coupon .print-link {float:right;width:150px;}
.node-coupon .field-name-field-global-user, .node-coupon .field-name-field-basic-flaglocation {display:none;}
.preview-layout #content-inner { margin-right: 350px }
.preview-layout #sidebar-second { width: 325px }
.spacer { width: 100%; clear: both }
.preview { color: #444 }
.coupon-preview { width: 300px; border: 2px dashed #777; padding: 10px; position: relative }
.coupon-preview .datasphere-coupon-logo { position: absolute; bottom: 12px; right: 6px }
.coupon-preview .coupon-preview-headline h2 { border-bottom: 1px dotted #ccc}
.coupon-preview .coupon-preview-desc { display: block }
.coupon-preview .coupon-biz-name { display: block;  }
.coupon-preview .coupon-preview-limits { display: block; margin: 10px 0 5px 0; font-size: 75%;  border-bottom: 1px dotted #ccc; padding-bottom: 5px; margin-bottom: 10px }
.coupon-preview img { width: 66px; float: left; margin-right: 10px }
.preview-layout .teaser-preview { min-height: 70px; width: 300px }
.preview-layout .teaser-preview img { float: left; margin-right: 10px;width:75px; }
.edit-field-coupon-miniheadline-und-0-value-live { color: #016E8F; background: url('/sites/all/themes/datasphere/images/icons/lnet-icons.gif') 0 -177px no-repeat; text-decoration: none; padding: 0px 2px 0px 20px; width: 120px; float: left }
.preview-layout .teaser-preview .teaser-slogan { margin: 3px 0 }
.coupon-preview .coupon-biz-name,
.preview-layout .teaser-preview .teaser-biz-name { font-weight: bold }
#block-views-node_more_coupons-block_2 h2 {font-size:12px;padding-top:20px;}
.coupon-tabbed .coupon-row {border:2px dashed #777;padding:7px;margin-bottom:15px;}
.basic-link .view-header {padding:7px 0px 3px;}

.coupon-intro .info .status { width: 290px }

.mobile-coupon-preview { background: url('/sites/all/themes/datasphere/images/coupon-edit/iphone-coupon-preview.jpg'); position: relative; width: 245px; height: 202px; margin: 20px 0 0 30px }
.mobile-coupon-preview #mobile-wrap { position: absolute; top: 110px; left: 95px;  }
.mobile-coupon-preview #mobile-coupon-headline {  background: none; padding: 0; color: #111; font-weight: bold; font-size: 13px; line-height: 13px }
.mobile-coupon-preview #mobile-coupon-biz {color: #016E8F; }

.view-my-coupons .view-footer {text-align:right;}
.region-content .block {margin-bottom:1em;}

/* Tooltips */
  .tooltip { width: 300px; background: #222e39; color: #fff; padding: 10px; border-radius: 6px 6px 6px 0 }
  input,
  textarea { display: block }
  .form-item label,
  .form-checkbox { display: inline-block }
 .form-item-mollom-captcha .field-prefix {display:block;}

/*FAQs*/
.view-faq .WeeButtonPlus .ui-state-default {background:none;border:none;}
.view-faq .WeeButtonPlus  a {color:#3366cc;}
.view-faq .ui-accordion h3 {color: #1CBA0F; }

/*Context Specific*/
.hide-title h1.title {display:none;}
.addressfield-container-inline:after {display:inline;}

/* Print Link */
.node-profile .print-link {display:none;}

/*edit-link-styles*/
.persistant .active { background-color: #5485C4; border-radius: 4px; padding: 4px 4px 4px 25px; color: #fff; background-position: 5px center; }
.persistant .create-coupon .active, .persistant .edit-coupon.active {background-image:url(../images/icons/label_16.png);}
.persistant .active:hover { text-decoration: none }
.create-or-edit {}
.create-or-edit span:hover,
.create-or-edit div:hover{ background-color: #9cbf51 }
.create-or-edit:hover a { color: #fff }
.create-or-edit a { font-size: 10px }
.create-or-edit a:hover { text-decoration: none }
.create-or-edit div,
.create-or-edit span {background:#f9f9f9 none; display: inline-block; padding: 0;  float: right; position: absolute; right: 0; top: 0; padding: 0 5px 1px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px  }
.create-or-edit .edit-basic,
.create-or-edit .edit-video {top: 0; z-index: 1 }
.create-or-edit .edit-coupon {top:16px;right:16px;}

.edit-coupon, .edit-basic, .create-basic-info, .create-basic-information,
.edit-basic_information, .edit-profile, .create-profile, .add-additional-profile-info,
.edit-video, .leaf a { display: block; padding: 6px 0 6px 20px }

.edit-coupon, 
.create-coupon a { background:transparent url(../images/icons/lnet-icons.gif) no-repeat 0 -172px; }
.edit-basic, 
.create-basic-info, 
.create-basic-information, 
.edit-basic_information { background:transparent url(../images/icons/gear_16.png) no-repeat left center }
.edit-profile, 
.create-profile, 
.add-additional-profile-info { background:transparent url(../images/icons/plus_16.png) no-repeat left center }
.edit-video, 
.create-video, 
.attach-video, 
.add-profile-video a { background:transparent url(../images/icons/monitor_16.png) no-repeat left center }
.persistant .my-account { background:transparent url(../images/icons/user_16.png) no-repeat left center }
.persistant .my-settings, 
.persistant .settings { background:transparent url(../images/icons/key_16.png) no-repeat left center }
.persistant .log-out { background:transparent url(../images/icons/right_16.png) no-repeat left center }

/*addressfield overrides*/
.field-widget-addressfield-standard .form-item label {display:inline-block;}
.addressfield-container-inline > div.form-item {float: left;margin-right: 1em;}
.addressfield-container-inline.country-GB > div.form-item {float: none;margin-right: auto;}
.addressfield-container-inline:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}
.node-form .addressfield-container-inline .state {display:block;height:27px;padding-top:5px;}

/*Profile Form*/
#profile-node-form {}
#profile-node-form .field-group-div.collapsed {}
#profile-node-form {}
#profile-node-form {}
#persistant-save { position: fixed; left:70%; bottom: 0; width: 200px; background: #202B37; text-align: center; border: 1px solid #111; height: 40px; border-radius: 5px 5px 0 0; box-shadow: 0 -1px 3px #ccc; background-image: -ms-linear-gradient(top, #303A43 0%, #1B262F 100%); background-image: -moz-linear-gradient(top, #303A43 0%, #1B262F 100%); background-image: -o-linear-gradient(top, #303A43 0%, #1B262F 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #303A43), color-stop(1, #1B262F)); background-image: -webkit-linear-gradient(top, #303A43 0%, #1B262F 100%); background-image: linear-gradient(top, #303A43 0%, #1B262F 100%);} 
#persistant-save input { box-shadow: none }
.pane-additional-biz-info-left .pane-title { display: none }

/*DATASPHERE OVERRIDES*/
body.ds-staff.node-type-basic-information ul.tabs, 
body.page-user.ds-staff ul.tabs {display:none;}
body.ds-staff.page-user h1.title {display:none;}

/*CLIENT OVERRIDES*/
body.client.node-type-basic-information ul.tabs, 
body.client.page-user ul.tabs {display:none;}
body.client.page-user h1.title {display:none;}
body.client.page-node-edit ul.tabs {display:none;}

/*hide phone number on contact-us page to anonymous users*/
body.not-logged-in #webform-component-call-us{display:none;}

body.page-node-edit.node-type-basic-information h1.title {display:none;}

#block-feedback-form h2 {border-bottom:0px;}

.page-landing #landing-login {}
.page-landing #landing-login .form-item label {display:inline;}
.page-landing #landing-login .form-item input {width:200px;}

#custom-403, #custom-404 {min-height:615px;}
.page-error-404 h1.title, .page-error-403 h1.title {border-bottom:0px;}
.page-error-404 .action-links, .page-error-403 .action-links {display:none;}

.taxonomy-override tr {vertical-align:top;}
.taxonomy-override .biz-space {width:210px;padding:0px 7px;display:inline-block;margin-bottom:30px;}
.taxonomy-override .biz-space .views-field-field-basic-logo, .taxonomy-override .biz-space .views-field-field-businessname {padding-bottom:5px;}

.basic .hidden {visibility:hidden;height:0px;overflow:hidden;}

#media-internet-add .media-provider {float:left;}
#media-internet-add #edit-actions {clear:both;}

#no-location-warning { border-radius: 6px; background-color: #999; color: #fff; padding: 5px 10px; display: none  }

/*Datasphere Partner Page*/
#quicktabs-container-view__datasphere_partner_coupons__block_1 { background: #fff;width:725px; }
#quicktabs-container-view__datasphere_partner_coupons__block_1 .quicktabs-tabpage .views-field-title { font-weight:bold; font-size: large;}

/*= Suggested Coupons pages */
#views-exposed-form-suggested-coupon-master-list-page #edit-term-node-tid-depth-wrapper label{ margin: 0 0 3px 3px; font-family: Arial, Helvetica, sans-serif }
#views-exposed-form-suggested-coupon-master-list-page #edit-term-node-tid-depth { padding: 5px;  border: 1px solid #CCC; border-radius: 4px 0 0 4px; }
.feed-icon a,
#views-exposed-form-coupon-suggestion-search-block #edit-submit-coupon-suggestion-search,
#views-exposed-form-suggested-coupon-master-list-page #edit-submit-suggested-coupon-master-list {
    color: white;
    font: bold 11px Arial, Helvetica;
    border: solid 1px #4a7f06;
    background-image: linear-gradient(bottom, #63a310 0%, #6bb210 100%); background-image: -o-linear-gradient(bottom, #63a310 0%, #6bb210 100%); background-image: -moz-linear-gradient(bottom, #63a310 0%, #6bb210 100%); background-image: -webkit-linear-gradient(bottom, #63a310 0%, #6bb210 100%); background-image: -ms-linear-gradient(bottom, #63a310 0%, #6bb210 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #63a310), color-stop(1, #6bb210) );
    -webkit-box-shadow: inset 0px 1px 0px #86cd2b, 0px 1px 0px #fff; -moz-box-shadow: inset 0px 1px 0px #86cd2b, 0px 1px 0px #fff; box-shadow: inset 0px 1px 0px #86cd2b, 0px 1px 0px #fff;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px
}
.feed-icon a:hover,
#views-exposed-form-coupon-suggestion-search-block #edit-submit-coupon-suggestion-search,
#views-exposed-form-suggested-coupon-master-list-page #edit-submit-suggested-coupon-master-list:hover {
    background-color: #6aae12;
    background-image: linear-gradient(bottom, #63a310 0%, #6aae12 100%);
    background-image: -o-linear-gradient(bottom, #63a310 0%, #6aae12 100%);
    background-image: -moz-linear-gradient(bottom, #63a310 0%, #6aae12 100%);
    background-image: -webkit-linear-gradient(bottom, #63a310 0%, #6aae12 100%);
    background-image: -ms-linear-gradient(bottom, #63a310 0%, #6aae12 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #63a310), color-stop(1, #6aae12) );
}
#views-form-suggested-coupon-master-list-page #edit-submit { display: none }


#views-form-suggested-coupon-master-list-page,
#views-form-suggested-coupon-master-list-page input,
#views-form-suggested-coupon-master-list-page textarea,
.view-removed-suggested-coupons { font-family: 'Open Sans', Arial, Helvetica, sans-serif; resize: none; }
#views-form-suggested-coupon-master-list-page th { text-align: center }
#views-form-suggested-coupon-master-list-page th span { padding: 5px 12px; color: #444; display: inline-block; margin-bottom: 4px; }
#views-form-suggested-coupon-master-list-page tr { position: relative }
#views-form-suggested-coupon-master-list-page select { border: 1px solid #ccc; border-radius: 4px }
#views-form-suggested-coupon-master-list-page input,
#views-form-suggested-coupon-master-list-page textarea { border: 1px solid #ccc; border-radius: 4px; margin: 5px; padding: 5px }
#views-form-suggested-coupon-master-list-page textarea { height: 85px; width: 250px }
#views-form-suggested-coupon-master-list-page .form-text { width: 175px }
#views-form-suggested-coupon-master-list-page .hijack-checkbox{ display:none }
#views-form-suggested-coupon-master-list-page .hijack-button {
    background: #751D0B;
    font: bold 11px Arial, Helvetica;
    border: solid 1px #59180a;
    background-image: linear-gradient(bottom, #751D0B 0%, #8b2713 100%); background-image: -o-linear-gradient(bottom, #751D0B 0%, #8b2713 100%); background-image: -moz-linear-gradient(bottom, #751D0B 0%, #8b2713 100%); background-image: -webkit-linear-gradient(bottom, #751D0B 0%, #8b2713 100%); background-image: -ms-linear-gradient(bottom, #751D0B 0%, #8b2713 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #751D0B), color-stop(1, #8b2713) );
    -webkit-box-shadow: inset 0px 1px 0px #b9452e, 0px 1px 0px #fff; -moz-box-shadow: inset 0px 1px 0px #b9452e, 0px 1px 0px #fff; box-shadow: inset 0px 1px 0px #b9452e, 0px 1px 0px #fff;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;

}
#views-form-suggested-coupon-master-list-page .hijack-button:hover {
    background-color: #751D0B;
    background-image: linear-gradient(bottom, #8b2713 0%, #751D0B 100%);
    background-image: -o-linear-gradient(bottom, #8b2713 0%, #751D0B 100%);
    background-image: -moz-linear-gradient(bottom, #8b2713 0%, #751D0B 100%);
    background-image: -webkit-linear-gradient(bottom, #8b2713 0%, #751D0B 100%);
    background-image: -ms-linear-gradient(bottom, #8b2713 0%, #751D0B 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #8b2713), color-stop(1, #751D0B) );}
#views-form-suggested-coupon-master-list-page .editablefield-item { display: inline-block }
#views-form-suggested-coupon-master-list-page .field-name-field-sug-coupon-ranking input { width: 15px }
#views-form-suggested-coupon-master-list-page .form-required { display: none }
#views-form-suggested-coupon-master-list-page .subtitle { font-weight: normal; margin-left: 7px; color: #999 }
#views-form-suggested-coupon-master-list-page .SUPERCLASS { padding-top: 5px }
#views-form-suggested-coupon-master-list-page .coupon-removed { background: #ccc }
#views-form-suggested-coupon-master-list-page .coupon-removed .hijack-button { cursor: default; marign-top: 10px; background: #999 }
#views-form-suggested-coupon-master-list-page .deleted-coupon { width: 910px; padding: 5px; background: #444; opacity: 0.6; color: white; text-align: center; vertical-align: middle; }
.view-removed-suggested-coupons td { padding: 5px 0 }
.feed-icon a { padding: 6px 12px; margin-top: 10px; display: inline-block }
.feed-icon img { display: none }

.view-removed-suggested-coupons .views-field-edit-node a { background: #CCC; padding: 3px 6px; color: #444; border-radius: 3px; }
.view-removed-suggested-coupons .views-field-edit-node a:hover { background: #751D0B; color: #fff }

/*= Homepage on Login */
.pane-devel-execute-php #edit-code { font: 13px Courier New, Courier, monospace; }