/* Tabs CSS
 * --------
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal5-reference.css, line 510.) */
/* line 8, ../sass/tabs.sass */
div.tabs {margin: 0 0 5px 0;}
/* line 11, ../sass/tabs.sass */
ul.primary, ul.secondary {width: 99%;}
/* line 14, ../sass/tabs.sass */
ul.primary {margin: 0;padding:0px;border-width: 0;list-style: none; white-space: nowrap;line-height: normal;padding-bottom:5px;border-bottom:1px dashed #ccc;}
/* line 22, ../sass/tabs.sass */
ul.primary li {float: left; margin: 0px;padding: 0;}
/* line 27, ../sass/tabs.sass */
ul.primary li a, ul.primary li.active a, ul.primary li.active a:hover { height: 15px; line-height: 15px; padding:15px 7px 0px; cursor: pointer; border: none; background: transparent url(../images/button_bg.png) repeat-x scroll 0 0; color: #fff; text-transform: uppercase; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 2px 2px 2px #888; -webkit-box-shadow 2px 2px 2px #888; box-shadow: 2px 2px 2px #888;margin:5px 7px 5px 0px;display:inline-block; }
/* line 32, ../sass/tabs.sass */
ul.primary li.active a {display:none;}
/* line 34, ../sass/tabs.sass */
ul.primary li a {}
/* line 45, ../sass/tabs.sass */
ul.primary li a:hover {background-position: 0 -30px; }
/* line 49, ../sass/tabs.sass */
ul.primary li a:hover .tab {}
/* line 51, ../sass/tabs.sass */
ul.primary li a .tab {display: block;margin: 0;padding: 0px; border-width: 0;line-height: 0px;}
/* line 60, ../sass/tabs.sass */
ul.secondary {margin: 0;padding: 0 0 0 5px;border-bottom: 1px solid silver; list-style: none;white-space: nowrap;}
/* line 67, ../sass/tabs.sass */
ul.secondary li {float: left;margin: 0 5px 0 0;padding: 5px 0;border-right: none;}
/* line 72, ../sass/tabs.sass */
ul.secondary a { display: block;height: 24px; margin: 0;padding: 0; border: 1px solid silver;text-decoration: none;color: #777777;}
/* line 81, ../sass/tabs.sass */
ul.secondary a .active, ul.secondary a .active:hover {border: 1px solid silver;color: black;}
/* line 85, ../sass/tabs.sass */
ul.secondary a:hover {}
/* line 87, ../sass/tabs.sass */
ul.secondary a .tab {display: block;height: 18px;margin: 0;padding: 3px 8px;line-height: 18px;}
